body{
    font-family: tahoma;
    background: lightblue !important; 
}
.our-team{
    position: relative;
    overflow: hidden;
    height: 355px;
    margin-top: 220px;
}
.our-team .team-pic > img{
    width: 92%;
    height: auto;
    border: 5px solid blue;
}
.our-team .team-profile{
    background: #f4c150;
    padding: 0 24px;
    position: absolute;
    right: 0;
    bottom: -65%;
    width: 90%;
    min-height: 245px;
    transition: all 0.25s ease 0s;
}
.our-team:hover .team-profile{
    bottom: 0px;
}
.our-team .team-profile::before{
    content: "";
    border-bottom: 30px solid #f4c150;
    border-right: 259px solid transparent;
    position: absolute;
    top: -30px;
    left: 0;
}
.our-team .team-title{
    line-height: 22px;
    font-family: tahoma;
}
.our-team .team-title::after{
    content: "";
    display: block;
    width: 10%;
    border-bottom: 4px solid #fff;
    padding-bottom: 15px;
}
.our-team .team-title > small{
    font-size: 18px;
    color: #ffffff;

} 
.our-team .description{
    color: #fff;
    line-height: 25px;

}
.our-team .description:after{
    content: "";
    display: block;
    border-bottom: 1px solid #fff;
    margin-top: 10px;
}
.our-team .team-social{
    padding: 0;
}
.our-team .team-social li{
    display: inline-block;
    margin-right: 12px;
}
.our-team .team-social li a{
    color: #ffffff;
    font-size: 20px;
    
}
.our-team .team-social li a:hover{
    color: #007bff;
    text-decoration: none;
}